.modalQuote {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(3, 3, 3, 0.929);
  display: flex;
  z-index: 11;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(0%);
  transition: 0.5s;
}

.modalContainerQuote {
  width: 50%;
  height: 90%;
  max-height: 657px;
  min-height: 657px;
  background-color: var(--color5);
  border-radius: 10px;
  position: relative;
  position: fixed;
  animation: show 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}

.modalTitle {
  margin-top: 10px;
  color: rgb(0, 0, 0);
  font-size: 60%;
}

.modalCloseQuote {
  border: none;
  font-size: 1.3rem;
  color: var(--color5);
  border-radius: 5px;
  background-color: transparent;
  position: absolute;
  right: 0.7rem;
  top: 0.3rem;
  cursor: pointer;
  color: black;
}

.divForm {
  display: flex;
  flex: row;
  height: 3rem;
  align-items: center;
  padding-bottom: 0px;
  width: 100%;
}
.IconColor {
  color: black;
  font-size: 0.9rem;
}
.form-control {
  border: none;
  border-bottom: 1px rgb(105, 105, 105) solid;
  background-color: transparent;
  outline: none;
  height: 2rem;
  font-size: 0.8em;
  margin-left: 1em;
  width: 100%;
  color: rgb(0, 0, 0);
}

.form-control:focus {
  border-bottom: 1.2px var(--color2) solid;
}

.form-control:hover {
  border-bottom: 1.2px var(--color2) solid;
}

.formQuote {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 90%;
}

.optionsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.optionsContainer span {
  color: black;
  font-size: 0.8em;
}

.selectionContainer {
  display: flex;
}

.containerIconSelect {
  display: flex;
  align-items: flex-end;
  padding-bottom: 10px;
  margin-right: 1em;
}

.drop_down {
  color: rgb(27, 4, 4);
  cursor: pointer;
  border: none;
  border-bottom: 1px rgb(105, 105, 105) solid;
  background-color: transparent;
  outline: none;
  height: 2rem;
  font-size: 0.8em;
  width: 100%;
}

.drop_down:hover {
  border-bottom: 1px solid var(--color2);
}

.mapTitle {
  margin: 1rem 0 0 0;
  color: black;
  font-size: 0.8rem;
}
.SubCategorieTitle {
  margin: 1rem 0 0 0;
  color: black;
  font-size: 0.8rem;
}
.CommentTitle {
  margin: 1rem 0 0 0;
  color: black;
  font-size: 0.8rem;
}
.simulacionMapa {
  width: 100%;
  background-color: black;
  height: 150px;
  border-radius: 10px;
  margin-top: 15px;
}

.SearchButton {
  width: 100%;
  border-radius: 20px;
  background: transparent;
  cursor: pointer;
  border: 1px solid var(--color4);
  margin-bottom: 5%;
  height: 2em;
  font-size: 0.8em;
  font-weight: 400;
  transition: .3s;
}

.SearchButton:hover {
  background-color: var(--color2);
  color: var(--color5);
  border-color: var(--color2);
  font-weight: 400;
}

.formMap {
  display: flex;
  width: 90%;
}

.formMapResposive {
  width: 80%;
  margin-left: 10px;
  max-height: 100%;
}

.containerPlace {
  overflow-y: auto;
  max-height: 10vh;
}
.spinerPlaces {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 15%;
}

.bodyPlaces {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 0.4rem;
  justify-content: space-between;
}

.bodyPlaces:hover {
  cursor: pointer;
}
.namePlaces {
  color: black;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 0.6em;
  width: 100%;
}

.linePlaces {
  width: 90%;
  margin-left: 8%;
}

.subCategoriesContainer {
  margin-top: 5px;
  width: 90%;
  height: 100px;
  max-height: 150px;
  overflow-y: auto;
}

.subCategorieItem {
  width: 100%;
  min-height: 30px;
  background-color: var(--color4);
  color: white;
  border-radius: 4px;
  margin-top: 5px;
  font-size: 0.8em;
  padding-top: 0.5em;
  font-weight: 400;
}

.textAreaContainer {
  bottom: 45px;
  position: absolute;
  width: 90%;
  font-size: 0.8em;
}
.textArea {
  max-width: 100%;
  width: 100%;
  height: 60px;
  max-height: 60px;
  min-height: 60px;
  min-width: 100%;
}

.buttonWhatsappDisable {
  width: 90%;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid var(--color4);
  font-size: 0.8em;
  height: 30px;
  position: relative;
  padding-left: 5%;
  position: absolute;
  bottom: 10px;
  transition: .3s;
}

.buttonWhatsappDisable:hover {
  background-color: var(--color2);
  color: white;
  font-weight: 400;
  border: 1px solid var(--color2);
}

.alertdiv {
  color: white;
  background-color:var(--color6);
  position: absolute;
  bottom:60px;
  border-radius: 4px;
}

.foto {
  position: absolute;
  left: 35%;
  width: 16px;
  height: 16px;
}


@keyframes show {
  0% {
    transform: translateY(-150vh);
  }
}
@media only screen and (max-width: 1200px) {
  .modalContainerQuote {
    width: 70%;
  }
 
}
@media only screen and (max-width: 870px) {
  .modalContainerQuote {
    width: 80%;
  }
  .mapTitle {
    font-size: 0.7rem;
  }
  .foto {
    left: 50%;
  }
 
  .buttonWhatsappDisable {
    margin-top: 45%;
  }
 
}

@media only screen and (max-width: 400px) {
  .modalContainerQuote {
    width: 90%;
    height: 90%;
  }
  .SearchButton {
    font-size: 0.7em;
  }

}

@media only screen and (max-width: 1080px) {
  .foto {
    left: 30%;
  }
}

@media only screen and (max-height: 660px) {
  .modalContainerQuote {
    width: 95%;
    height: 70%;
    max-height: 70%;
    min-height: 70%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .modalTitle {
    position: absolute;
    top: 0;
    align-items: flex-start;
  }
  .formQuote {
    position: absolute;
    top: 50px;
    width: 35%;
    left: 4%;
    margin-left: 10px;
  }
  .mapTitle {
    position: absolute;
    top: 3%;
    left: 60%;
  }
  .formMap {
    position: absolute;
    top: 50px;
    left: 45%;
    width: 50%;
  }
  .SubCategorieTitle {
    position: absolute;
    top: 53%;
    left: 40%;
  }
  .subCategoriesContainer {
    margin-top: 5px;
    height: 100px;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    top: 60%;
    width: 35%;
    left: 4%;
    margin-left: 10px;
  }
  .textAreaContainer {
    position: absolute;
    top: 60%;
    left: 45%;
    width: 50%;
    height: 110px;
    padding-top: 0;
  }

  .buttonWhatsappDisable {
    position: absolute;
    top: 90%;
  }
  .buttonWhatsappDisable {
    margin: 0;
  }

}

@media only screen and (max-height: 550px) {
  .modalContainerQuote {
    height: 90%;
    max-height: 90%;
    min-height: 90%;
  }
  .containerPlace {
    overflow-y: auto;
    max-height: 17vh;
  }
}
@media only screen and (max-height: 430px) {
  .modalContainerQuote {
    height: 99%;
    max-height: 99%;
    min-height: 99%;
  }
}
@media only screen and (max-width: 546px) {
  .foto {
    display: none;
  }
}
