.modal__alt {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(3, 3, 3, 0.8);
  display: flex;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(3, 3, 3, 0.8);
  display: flex;
  opacity: 1;
  pointer-events: unset;
  z-index: 3;
}

.modal__container {
  margin: auto;
  background-color: var(--color5);
  width: 90%;
  max-width: 600px;
  max-height: 90%;
  overflow: hidden;
  text-align: center;
  padding: 30px;
  border-radius: 1em;
  position: relative;
  
  font-size: 0.9rem;
}

.modal__close {
  display: inline-block;
  border: 1px solid;
  padding: 1em 2em;
  text-decoration: none;
  font-weight: 700;
  color: #333;
}

.modal__close__x {
  display: inline-block;
  border: none;
  font-size: x-large;
  padding: 5px 0 5px 0;
  color: #3d3d3d;
  border-radius: 5px;
  background-color: transparent;
  width: 40px;
  position: absolute;
  right: 0.2em;
  top: 0.2em;
  cursor: pointer;
}

.modal__close__x:hover {
  color: var(--color6);
}

.modal__container {
  animation: show 0.5s;
}

.containerButtonsSubscribe {
  display: flex;
  width: 100%;
  justify-content: center;
}

@keyframes show {
  0% {
    transform: translateY(-150vh);
  }
}

.input-group {
  position: relative;
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  justify-content: center;
}

.inputSee {
  padding: 10px;
  border: none;
  border-radius: 20px;
  color: rgb(0, 0, 0);
  outline: 1px solid rgb(27, 6, 6);
  width: 97%;
  background-color: var(--color5);
}

.input-label {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(19px, 10px);
  transition: transform 0.25s;
  pointer-events: none;
  color: #3d3d3d;
}

.inputSee:focus+.input-label,
.inputSee:valid+.input-label,
.textArea:focus+.input-label,
.textArea:valid+.input-label {
  transform: translate(10px, -12px) scale(0.8);
  color: #3d3d3d;
  padding-inline: 5px;
  background-color: var(--color5);
}

.inputSee:is(:focus, :valid) {
  outline-color: #3d3d3d;
}



.buttonStyle {
  background-color: var(--color2);
  border: 1px solid var(--color2);
  color: white;
}

.buttonStyle,
.buttonCancelStyle {
  padding: 10px 10px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 20px;
  width: 45%;
  margin: 0 15px;
}

.buttonStyle:hover {
  background-color: transparent;
  border: 1px solid var(--color2);
  color: var(--color2);
}

.buttonCancelStyle {
  background-color: var(--color6);
  border: 1px solid var(--color6);
  color: var(--color5);

}

.buttonCancelStyle:hover {
  background-color: transparent;
  border: 1px solid var(--color6);
  color: var(--color6);
}

.container {
  display: inline-block;
}

.Alerts {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  top: -10px;
  z-index: 10;
}

.AlertsModal {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  width: 100%;
  top: -130px;
  z-index: 10;
}

.notificationModal {
  position: relative;
  max-width: 300px;
  padding: 0 30px 0 30px;
  border-radius: 4px;
  color: #f6f5f9;
  box-shadow: 0 1px 10px rgba(0, 0, 0.1);
  animation-name: fadeNoti;
  animation-duration: 1s;
  font-size: 80%;
}

.notificationModal p {
  margin-top: 10px;
}

.notification {
  position: absolute;
  max-width: 300px;
  padding: 1% 1%;
  border-radius: 4px;
  color: #f6f5f9;
  box-shadow: 0 1px 10px rgba(0, 0, 0.1);
  animation: fadePrincipal 4s linear forwards;
  margin-right: 20px;
  font-size: 80%;
  top: -40px;
}

.progress {
  position: absolute;
  left: 5px;
  bottom: 5px;
  width: 0;
  height: 3px;
  background-color: #141619;
  border-radius: 4px;
  animation: progress 3s 0.25s linear forwards;
}

.close-button {
  position: absolute;
  top: 1%;
  right: 1%;
  background-color: transparent;
  color: #f6f5f9;
  border: #141619;
  cursor: pointer;
}

.close-button:hover {
  background-color: transparent;
  transform: scale(1.3);
}

@keyframes fadeNoti {
  0% {
    opacity: 1;
    visibility: visible;
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes fadePrincipal {
  5% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
  }

  90% {
    opacity: 1;
    transform: translateY(0px);
  }

  95% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    transform: translateY(-30px);
  }
}

@keyframes progress {
  to {
    width: calc(100% - 10px);
  }
}

@media only screen and (max-width: 960px) {
  .modal__container {
    margin-left: 20%;
    margin-right: 20%;
    padding: 30px;
  }

  .containerButtonsSubscribe {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

  }

  .buttonCancelStyle,
  .buttonStyle {
    width: 100%;
    margin: 5px 0;
  }

  .input-group{
    margin: 20px 0;
  }
}

@media only screen and (max-width: 600px) {
  .modal__container {
    margin-left: 20px;
    margin-right: 20px;
  }

  .modal__container h1{
    font-size: 1.5rem;
  }

  .modal__container input,
  .modal__container .containerButtonsSubscribe button{
    font-size: 1rem;
  }
}