.principalContainerSubCategorie {
  position: fixed;
  width: 100vw;
  height: 90%;
  display: flex;
  margin-top: 5%;
  margin-bottom: 80%;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: auto;
  padding-right: 50px;
  max-height: 77%;
}
.cardSubCategorie {
  width: 44vw;
  height: 180px;
  background-color: var(--color3);
  margin-top: 10px;
  margin-left: 50px;
  position: relative;
  border-radius: 30px 5px;
  min-height: 150px;
  padding: 10px 40px;
}

.subCategorieTittle {
  color: white;
  margin-right: 20px;
  margin-left: 15px;
}

.subCategorieDescription {
  color: black;
  margin-top: 5px;
  max-height: 100px;
  min-height: 80px;
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 45px;
  height: 45px;
  overflow: hidden;
  bottom: 0;
  right: 0;
  background-color:var(--color2);
  border-radius: 32px 0 27px 0;
}

.go-corner:hover {
  background-color: #023f44;
}
.go-corner:hover .go-plus {
  transform: scale(1.1);
}

.go-plus {
  margin-top: 4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}

.alertSubcategorie {
  position: fixed;
  bottom: 110px;
  right: -150px;
  background-color:var(--color3);
  box-shadow: 0 1px 10px rgba(0, 0, 0.1);
  animation-name: subNoti;
  animation-duration: 5s;
  z-index: 10;
  border-radius: 4px;
  height: 50px;
}

@keyframes subNoti {
  0% {
    transform: translateX(10%);
  }
  50% {
    transform: translateX(-60%);
  }

  100% {
    transform: translateX(0%);
  }
}

@media only screen and (max-width: 1500px) {
  .principalContainerSubCategorie {
    margin-top: 7%;
    max-height: 75%;
  }

  .cardSubCategorie {
    width: 40vw;
  }
}

@media only screen and (max-width: 950px) {
  .principalContainerSubCategorie {
    max-height: 77%;
    margin-top: 10%;
  }

  .cardSubCategorie {
    font-size: 0.8rem;
    width: 90%;
    min-height: 100px;
  }

  .go-plus {
    transform: scale(1.4);
  }
}

@media only screen and (max-width: 700px) {
  .principalContainerSubCategorie {
    margin-top: 16%;
  }
}

@media only screen and (max-width: 400px) {
  .principalContainerSubCategorie {
    max-height: 82%;
    margin-top: 25%;
  }

  .cardSubCategorie {
    font-size: 0.5rem;
    width: 100%;
    min-height: 105px;
  }

  .go-corner {
    width: 35px;
    height: 35px;
    border-radius: 25px 0 27px 0;
  }

  .go-plus {
    transform: scale(1.8);
  }
}