.developersContainer {
    width: 100%;
    height: 240px;
    position: absolute;
    bottom: 80px;
    transform: translateY(300%);
    background-color: var(--color4);
    transition: 0.7s;
    opacity: 0.96;
    box-shadow: inset 0px 10px 10px -8px var(--color3);
}

.developersContainerToggle {
    transform: none;
}

.developersContainer .cards {
    max-width: var(--max-width);
    margin: auto;
    padding: 0 3rem;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.developersContainer .cards div {
    width: 170px;
    height: 170px;
}

.cards .card .content {
    position: absolute;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.card h4 {
    margin-top: 180px;
}

.card:hover .content {
    transform: rotateY(180deg);
    transition: transform 0.5s;
}

.developersContainer .content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 25px black;
}

.front,
.back {
    position: absolute;
    text-align: center;
    backface-visibility: hidden;
}

.back {
    transform: rotateY(180deg);
    border-radius: 50%;
    box-shadow: 0px 0px 25px black;
    background-color: white;
}

.back h4,
.back p {
    color: var(--color4);
}

.back h4 {
    margin-top: 50px;
    font-size: 1.1em;
}

.back p {
    font-size: 0.8em;
    margin-bottom: 15px;
}

.back .moreInfo {
    font-weight: bold;
    margin-bottom: 5px;
}

.webs {
    display: flex;
    justify-content: center;
}

#linkedin,
#git {
    width: 25px;
    height: 25px;
    margin: 0 5px;
    cursor: pointer;
    transition: 0.2s;
}

#linkedin img,
#git img {
    border-radius: 5px;
    box-shadow: none;
}

#linkedin:hover,
#git:hover {
    transform: scale(1.2);
}

.closeDevelopers {
    cursor: pointer;
    border: none;
    background: transparent;
    color: var(--color5);
    position: fixed;
    right: 0;
    font-size: 1.8rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
}

.closeDevelopers:hover {
    color: var(--color6);
}

@media only screen and (max-width: 1370px) {

    .developersContainer {
        height: 210px;
    }

    .developersContainer .cards div {
        width: 140px;
        height: 140px;
    }

    .card h4 {
        margin-top: 150px;
    }

    .back h4 {
        margin-top: 38px;
        font-size: 0.9em;
    }

    .back p {
        font-size: 0.7em;
    }

    #linkedin,
    #git {
        width: 20px;
        height: 20px;
    }

}

@media only screen and (max-width: 1190px) {

    .developersContainer {
        height: 180px;
    }

    .developersContainer .cards div {
        width: 110px;
        height: 110px;
    }

    .card h4 {
        margin-top: 120px;
        font-size: 0.9rem;
    }

    .closeDevelopers {
        font-size: 1.5rem;
    }

    .back h4 {
        margin-top: 30px;
        font-size: 0.7em;
    }

    .back p {
        font-size: 0.6em;
        margin-bottom: 10px;
    }

    #linkedin,
    #git {
        width: 17px;
        height: 17px;
    }
}

@media only screen and (max-width: 950px) {

    .developersContainer {
        height: 160px;
    }

    .developersContainer .cards {
        padding: 0 2rem;
    }

    .developersContainer .cards div {
        width: 95px;
        height: 95px;
    }

    .card h4 {
        margin-top: 105px;
        font-size: 0.7rem;
    }

    .back h4 {
        margin-top: 28px;
        font-size: 0.65em;
    }

    .back p {
        font-size: 0.5em;
        margin-bottom: 5px;
    }

    #linkedin,
    #git {
        width: 15px;
        height: 15px;
    }
}

@media only screen and (max-width: 800px) {

    .developersContainer {
        height: 130px;
    }

    .developersContainer .cards div {
        width: 80px;
        height: 80px;
    }

    .card h4 {
        margin-top: 90px;
        font-size: 0.66rem;
    }

    .closeDevelopers {
        font-size: 1.3rem;
    }

    .back h4 {
        margin-top: 22px;
        font-size: 0.55em;
    }

    .back p {
        font-size: 0.45em;
        margin-bottom: 5px;
    }

    .back .moreInfo {
        margin-bottom: 1px;
    }

    #linkedin,
    #git {
        width: 13px;
        height: 13px;
    }
}