.notificationModal {
  padding: 0 30px 5px 30px;
  color: #ffffff;
  font-size: 80%;
  background-color: transparent;
  height: 100%;
  border-radius: 4px;
  z-index: -1;
  border: solid 0.4px black;
  display: flex;
  align-items: center;
}

.close-button {
  position: absolute;
  top: 1%;
  right: 3%;
  color: #ffffff;
  border: #141619;
  cursor: pointer;
  font-size: 1em;
  background-color: transparent;
}
