.cartTitle {
  color: white;
  margin: 5px 0 10px 0;
  font-size: 1.5rem;
  margin: 20px 0;
}

.bodyCart {
  position: fixed;
  width: var(--width-cart);
  right: 0;
  bottom: 80px;
  top: 80px;
  transform: translateX(0%);
  transition: 0.5s;
  background-color: transparent;
  z-index: 2;
}

.productCart {
  color: white;
  font-weight: 400;
  display: block;
}

.hide {
  position: fixed;
  height: 100%;
  width: var(--width-cart);
  right: -350px;
  transform: none;
}

.bodyCart .hide {
  display: none;
}

.shadow {
  position: absolute;
  width: 100vw;
  height: 100%;
  background-color: rgba(38, 38, 38, 0.347);
  right: 100%;
  top: 0;
}

.fa-closeCart {
  position: absolute;
  left: 0.6rem;
  padding: 2%;
  font-size: 1em;
  color: white;
  z-index: 1;
  top: 20px;
  cursor: pointer;
}

.fa-closeCart:hover {
  transform: scale(1.2);
}

.menuCart {
  display: flex;
  flex-direction: column;
  height: calc(100% - 80px);
  background-color: var(--color4);
  position: relative;
  border-bottom: 0 solid rgb(21, 21, 20);
  height: 100%;
}

.hide .shadow {
  display: none;
}

.positionCero {
  position: fixed;
  right: -465px;
}

.positionCero .shadow {
  display: none;
}

.btnDetails {
  width: 90%;
  height: 3rem;
  border: none;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  border-radius: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  color: white;
  font-weight: 400;
  transition: 0.3s;
  border: 1px solid var(--color5);
}

.btnDetails:hover {
  background-color: var(--color2);
  border: 1px solid var(--color2);
}

.containerProductCart {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-height:100%;
  overflow-y: auto;
  height: 100%;
  margin-bottom: 70px;
}

.generalProduct {
  display: flex;
  align-items: center;
  background-color: var(--color3);
  color: white;
  width: 90%;
  border-radius: 4px;
  margin-top: 10px;
  min-height: 60px;
  position: relative;
  justify-content: center;
  padding-right: 30px;
}
.productCart {
  padding-right: 10px;
  padding-left: 10px;
}

.faDeleteProductCart {
  margin-right: 10px;
  cursor: pointer;
  position: absolute;
  right: 2px;
}
.faDeleteProductCart:hover {
  transform: scale(1.1);
  color: var(--color6);
}

@media only screen and (max-width: 1200px) {
  .bodyCart {
    top: 70px;
  }

  .hide {
    height: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .menuCart {
    height: calc(100% - 20px);
  }
}
@media only screen and (max-width: 470px) {
  .menuCart {
    height: calc(100% - 10px);
  }
}
@media only screen and (max-width: 500px) {
  .bodyCart {
    width: 100%;
  }

  .hide {
    right: -550px;
  }
}
