.headerContainer {
  width: 100%;
  background-color: var(--color5);
  position: fixed;
  top: 0;
  z-index: 10;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
}

.logo {
  display: flex;
  align-content: center;
  width: 110px;
  cursor: pointer;
}

.search-container {
  color: var(--color4);
  margin-left: auto;
}

.search-container .icon {
  margin-right: -2rem;
  font-size: 1.2rem;
  z-index: 2;
  color: var(--color3);
}

.search-container input {
  padding: 0.5rem 1rem 0.5rem 2.5rem;
  background-color: transparent;
  border: 1px solid var(--color4);
  border-radius: 20px;
  outline: none;
}

header nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.link {
  margin: 0 1.5rem;
  text-decoration: none;
  color: var(--color4);
  font-size: 1.3rem;
}

.link:hover,
.active {
  color: var(--color2);
}

header nav .subscribe {
  color: var(--color4);
  border: 1px solid var(--color4);
  padding: 0.5rem 0.8rem;
  border-radius: 20px;
  background: var(--color5);
  font-size: 1.2rem;
  cursor: pointer;
  margin: 0 0.8rem;
  transition: 0.3s;
}

header nav .subscribe:hover {
  background-color: var(--color2);
  color: var(--color5);
  border-color: var(--color2);
}

header div .language {
  color: var(--color4);
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  margin-left: -1.2rem;
  margin-right: 0.5rem;
}

header div .language:hover .flags {
  opacity: 1;
}

.flags {
  width: 1.3rem;
  position: relative;
  margin-bottom: -10px;
  margin-left: -18px;
  opacity: 0;
}

.flags .flag {
  width: 100%;
}

header div {
  display: flex;
  align-items: center;
}

.nav-btn,
header div .car {
  cursor: pointer;
  background-color: transparent;
  padding: 0.5rem 0.6rem 0.5rem 0.4rem;
  border-radius: 50%;
  color: var(--color4);
  font-size: 1.5rem;
  transition: 0.3s;
  width: 2.6rem;
  height: 2.6rem;
  border: none;
  position: relative;
}

.numberCar {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: var(--color6);
  position: absolute;
  top: -5px;
  right: -5px;
  font-size:  1rem;
  color: white;
  font-weight: 500;
}

header div .car {
  margin-right: -2rem;
  margin-left: 1rem;
}

header div .car:hover {
  background-color: var(--color2);
  color: var(--color5);
}

header .nav-btn {
  visibility: hidden;
}

@media only screen and (max-width: 1200px) {
  header {
    padding: 0 1rem;
    height: 70px;
  }

  .logo {
    width: 80px;
  }

  .search-container .icon,
  .search-container input,
  header nav .subscribe {
    font-size: 1rem;
  }

  .link {
    margin: 0 1rem;
    font-size: 1.1rem;
  }

  header nav .subscribe {
    margin: 0 0.5rem;
  }

  header div .language {
    margin-left: 1rem;
  }

  nav .nav-close-btn {
    width: 0px;
  }

  .nav-btn,
  header div .car {
    font-size: 1.2rem;
    width: 2.2rem;
    height: 2.2rem;
  }

  header div .car {
    margin-right: -2rem;
    margin-left: 1rem;
  }

}

@media only screen and (max-width: 1000px) {
  header {
    padding: 0 2rem;
  }

  .search-container {
    margin-right: 0.5rem;
  }

  header div .car {
    margin: 0;
  }

  header div .nav-btn {
    margin-left: 0.5rem;
  }

  header nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 3rem;
    background-color: var(--color7);
    transform: translateX(100%);
    padding-top: 4rem;
    flex-direction: column;
    z-index: 10;
    transition: 0.5s;
    opacity: 0.97;
  }

  header .nav-btn {
    visibility: visible;
    margin-right: -1rem;
  }

  nav .nav-close-btn {
    position: absolute;
    top: 1rem;
    right: 2rem;
    color: var(--color5);
    width: 2.2rem;
    height: 2.2rem;
  }

  header .responsive_nav {
    transform: none;
  }

  .link {
    color: var(--color5);
  }

  .link,
  header nav .subscribe {
    font-size: 1.3rem;
  }

  .active {
    color: var(--color2);
  }

  header nav .subscribe {
    padding: 0.5rem 1.5rem;
  }
}

@media only screen and (max-width: 555px) {
  header {
    padding: 0 1.2rem;
  }

  .logo {
    width: 70px;
    margin: 0 -20px;
  }

  .link {
    font-size: 1rem;
  }

  header nav .subscribe {
    font-size: 0.9rem;
  }

  .search-container {
    margin-right: -15px;
  }

  .search-container .icon {
    margin-right: -1.8rem;
  }

  #input-search {
    padding: 0.5rem 0.7rem 0.5rem 2rem;
    font-size: 0.9rem;
    opacity: 0;
    width: 1px;
    transition: all 0.25s ease-in-out;
  }

  #input-search:hover,
  .search-container .icon:hover ~ #input-search {
    opacity: 1;
    width: 155px;
    margin-right: 10px;
  }

  .search-container .icon {
    font-size: 1.2rem;
  }

  header nav {
    gap: 2rem;
  }

  .flags {
    width: 1rem;
    margin-left: -10px;
  }
}

@media only screen and (max-width: 390px) {
  .logo {
    margin: 0 -25px;
  }

  .search-container {
    margin-right: -20px;
  }

  header div .language {
    margin-right: 5px;
  }

  header div .nav-btn {
    margin-left: 0;
  }
}

@media only screen and (max-width: 360px) {
  .logo {
    position: absolute;
    top: 15px;
  }

  .search-container {
    margin-left: auto;
  }

  .search-container .icon {
    z-index: 3;
  }

  .search-container #input-search {
    z-index: 2;
  }

  .search-container #input-search:hover ~ .span-search,
  .search-container .icon:hover ~ .span-search {
    position: fixed;
    left: 0;
    width: 100px;
    height: 60px;
    background-color: var(--color5);
    z-index: 1;
  }
}
