.spinnerContainer {
    position: fixed;
    top: calc(50% + 30px);
    left: calc(50% - 40px);
}

.galeryContainer {
    max-width: var(--max-width);
    padding-top: 80px;
    padding-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
}

.cardContainer {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin-top: 30px;
}

.cardContainer .card {
    width: 250px;
    height: 250px;
    margin: 20px auto;
}

.cardContainer .card:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.imageCard {
    box-shadow: var(--box-shadow);
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
}

.modalGalery {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(3, 3, 3, 0.929);
    display: flex;
    z-index: 15;
}

.modalContainerGalery {
    margin: auto;
    position: relative;
}

.modalContainerGalery a img{
    max-width: 65%;
    max-height: 65%;
    border-radius: 10px;
}

.modalCloseGalery {
    border: none;
    font-size: 2rem;
    color: var(--color5);
    border-radius: 5px;
    background-color: transparent;
    position: absolute;
    right: 3rem;
    top: 1.4rem;
    cursor: pointer;
}

.modalCloseGalery:hover {
        transform: scale(1.5);
        color: var(--color6);
}

.emptyCollection{
    position: fixed;
    top: 50%;
    left: calc(50% - 150px);
}

@media only screen and (max-width: 1400px) {
    .cardContainer {
        grid-template-columns: auto auto auto auto;
    }
}

@media only screen and (max-width: 1150px) {
    .cardContainer {
        grid-template-columns: auto auto auto;
    }

    .modalCloseGalery {
        right: 1rem;
    }
}

@media only screen and (max-width: 850px) {
    .cardContainer {
        grid-template-columns: auto auto auto auto;
    }

    .cardContainer .card {
        width: 150px;
        height: 150px;
        margin: 10px auto;
    }
}

@media only screen and (max-width: 700px) {
    .cardContainer .card {
        width: 100px;
        height: 100px;
    }

    .emptyCollection{
        font-size: 0.6rem;
        left: calc(50% - 90px);
    }
}

@media only screen and (max-width: 500px) {
    .cardContainer {
        margin-top: 15px;
        grid-template-columns: auto auto auto auto auto;
    }

    .cardContainer .card {
        width: 80px;
        height: 80px;
    }

    .modalCloseGalery {
        font-size: 1.7rem;
        right: 0.6rem;
    }
}

@media only screen and (max-width: 450px) {
    .cardContainer {
        grid-template-columns: auto auto auto auto;
    }
}

@media only screen and (max-width: 400px) {
    .cardContainer .card {
        width: 70px;
        height: 70px;
    }
}

@media only screen and (max-width: 330px) {
    .cardContainer .card {
        width: 60px;
        height: 60px;
    }
}

@media only screen and (max-width:275px) {
    .cardContainer {
        grid-template-columns: auto auto auto;
    }
}