.generalInformationContainer{
    padding: 0 15%;
    text-align: center;
    max-width: var(--max-width);
    margin: auto;
}

.generalInformationContainer p{
    text-align: justify;
    margin-top: 2.5rem;
}

.generalInformationContainer div{
    width: 300px;
    height: 300px;
    margin: auto;
    margin-bottom: -2rem;
}

.generalInformationContainer div img{
    width: 100%;
}

@media only screen and (max-width: 1400px) {
    .generalInformationContainer{
        padding: 0 5%;
    }
}

@media only screen and (max-width: 600px) {
    .generalInformationContainer{
        padding: 0 2rem;
        font-size: 0.8rem;
    }

    .generalInformationContainer p{
        margin-top: 1.5rem;
    }
    
    .generalInformationContainer div{
        width: 200px;
        height: 200px;
    }
}

@media only screen and (max-width: 450px) {
    .generalInformationContainer{
        margin-top: -0.5rem;
        padding: 0 0.8rem;
        font-size: 0.7rem;
    }
}