.footerContainer {
    background-color: var(--color4);
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 3;
}

footer {
    max-width: var(--max-width);
    margin: auto;
    height: 80px;
    padding: 0 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .labels {
    text-align: left;
}

footer .labels p {
    padding: 0.25rem 0;
}

footer .developers {
    position: absolute;
    left: 38%;
    right: 38%;
    padding: auto;
    cursor: pointer;
    background: transparent;
    color: var(--color5);
    border: none;
}

footer .socialsNetworks img {
    width: 1.5rem;
}

footer .socialsNetworks a{
    margin-left: 1.5rem;
}

@media only screen and (max-width: 800px) {
    footer {
        font-size: 0.8rem;
        padding: 0 2rem;
    }

    footer .developers {
        font-size: 0.9rem;
    }

    footer .socialsNetworks img {
        width: 1.3rem;
    }

    footer .socialsNetworks a{
        margin-left: 1rem;
    }
}

@media only screen and (max-width: 600px) {

    footer {
        height: 100px;
        padding: 0 1rem;
    }
    
    footer .labels{
        margin-top: -25px;
    }       

    footer .developers {
        left: 10%;
        right: 10%;
        bottom: 15px;
    }

    footer .socialsNetworks{
        margin-top: -10px;
    }
}

@media only screen and (max-width: 470px) {

    footer {
        font-size: 0.65rem;
        height: 90px;
    }

    footer .developers{
        font-size: 0.7rem;
    }
    
    footer .socialsNetworks img {
        width: 1rem;
    }
}