@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-family: var(--font-family);
  text-align: center;
  color: var(--color5);
  background-color: var(--color7);
}

:root{
  --width-cart: 350px;
  --box-shadow-hover: 1px 1px 10px black;
  --font-family: 'Montserrat', sans-serif;
  --box-shadow: 0px 5px 15px black;
  --max-width: 1500px;
  --color1: #aede67;
  --color2: #3b97b7;
  --color3: #666666;
  --color4: #3d3d3d;
  --color5: rgb(231, 231, 231);
  --color6: rgb(255, 81, 81);
  --color7: #232323;
  --color-cart: rgba(255, 255, 255, 0.893);
}

.page {
  margin: 3rem 0;
  padding-top: 80px;
  padding-bottom: 100px;
}

input,
button {
  font-family: var(--font-family);
  font-size: 1.2rem;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 450px) {
  h1 {
    font-size: 1rem;
  }
}