.left-arrow,
.right-arrow {
    position: absolute;
    z-index: 1;
    top: 70px;
    margin: auto 0;
}

.left-arrow img,
.right-arrow img {
    height: 30px;
}

.left-arrow {
    left: 20px;
    opacity: 0.2;
}

.right-arrow {
    right: 20px;
}

.developersContainer #carrusel1,
.developersContainer #carrusel2 {
    transition: 1s;
}

.developersContainer #carrusel2 {
    transform: translateX(100%);
    margin-top: -105px;
}

#cards1,
#cards2 {
    padding: 0 4rem;
}

@media only screen and (max-width: 600px) {
    .developersContainer {
        bottom: 100px;
    }

    .developersContainer #carrusel1 .cards,
    .developersContainer #carrusel2 .cards {
        padding: 0 3rem;
    }
}

@media only screen and (max-width: 470px) {

    .developersContainer {
        height: 120px;
    }

    .left-arrow,
    .right-arrow {
        top: 60px;
    }

    .left-arrow img,
    .right-arrow img {
        height: 20px;
    }

    .developersContainer {
        bottom: 80px;
    }

    .developersContainer .cards div {
        width: 65px;
        height: 65px;
    }

    .card h4 {
        margin-top: 75px;
        font-size: 0.49rem;
    }

    .developersContainer #carrusel2 {
        margin-top: -85px;
    }

    .closeDevelopers {
        font-size: 1rem;
    }

    .back h4 {
        margin-top: 15px;
        font-size: 0.4em;
    }

    .back p {
        font-size: 0.1em;
        margin-bottom: 0px;
    }

    .back .moreInfo {
        display: none;
    }

    #linkedin,
    #git {
        width: 12px;
        height: 12px;
    }
}