.cardContainerServices {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    max-width: var(--max-width);
    margin: -60px auto;
}

.serviceCard {
    margin: 0.3rem;
    transition: all 0.6s ease;
    text-decoration: none;
    color: var(--color5);
    width: 380px;
    height: 300px;
    cursor: pointer;
}

.serviceBackground {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.4s;
    filter: brightness(30%);
    border-radius: 10px;

}

.serviceCard:hover .serviceBackground {
    filter: brightness(60%);
}

.serviceIcon {
    position: relative;
    margin: 0 auto;
    width: 25%;
    top: -70%;
}

.serviceTittle {
    position: relative;
    z-index: 1;
    top: 80%;
}

@media only screen and (max-width: 1180px) {
    .serviceCard {
        width: 350px;
        height: 270px;
    }
}

@media only screen and (max-width: 1090px) {
    .serviceCard {
        width: 300px;
        height: 220px;
    }
}

@media only screen and (max-width: 940px) {
    .serviceCard {
        width: 250px;
        height: 180px;
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 790px) {
    .serviceCard {
        width: 230px;
        height: 150px;
        font-size: 0.75rem;
    }
}

@media only screen and (max-width: 725px) {
    .cardContainerServices {
        grid-template-columns: auto auto;
        margin-bottom: 1px;
    }

    .serviceCard {
        width: 250px;
        height: 170px;
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 530px) {
    .cardContainerServices {
        grid-template-columns: auto;
    }

    .serviceCard {
        width: 380px;
        height: 250px;
        font-size: 0.9rem;
    }

    .serviceIcon {
        top: -80%;
    }
}

@media only screen and (max-width: 400px) {
    .serviceCard {
        width: 350px;
        height: 220px;
    }
}

@media only screen and (max-width: 370px) {
    .serviceCard {
        width: 300px;
        height: 180px;
    }
}

@media only screen and (max-width: 320px) {
    .serviceCard {
        width: 270px;
        height: 150px;
        font-size: 0.75rem;
    }

    .serviceIcon {
        width: 20%;
        top: -80%;
    }
}